* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    max-width: 500px;
    max-height: 500px;
}
#fetch {
    padding: 10px;
    width: 100px;
    height: 50px;
}